nav {
    background-color: white;
    height: 75px;
    box-shadow: 0 0.2px 0.5px #000;
}

.logo {
    float: left;
}

.logo img {
    width: 100px;
}

.sign-in {
    margin: 10px;
    padding: 15px 25px;
    float: right;
    border-radius: 5px;
    background-color: #e6e6e6;
    display: block;
}

.progress-bar {
    position: relative;
    color: black;
    background: white;
    margin-left: 25%;
    width: 40%;
}

h4 {
    margin-top: 30px;
    width: 30%;
}

.bar {
    width: 50%;
    height: 20%;
}

.bar-container {
    display: flex;
    align-items: baseline;
}

#myProgress {
  width: 50%;
  border-radius: 10px;
  background-color: #ddd;
  margin-top: 10px;
}

#myBar {
  height: 15px;
  border-radius: 10px;
  background-color: #009ee8;
  text-align: center;
  line-height: 30px;
  color: white;
}

@media screen and (max-width: 720px) {
    h4 {
        margin-right: 10px;
    }
    .progress-bar {
        margin-left: 20%;
    }
}

@media screen and (max-width: 560px) {
    h4 {
        margin-right: 25px;
    }
    .progress-bar {
        margin-left: 10%;
    }
}

@media screen and (max-width: 460px) {
    nav {
        height: 150px;
    }
    h4 {
        margin-right: 25px;
    }
    .progress-bar {
        position: absolute;
        top: 75px;
        height: 50px;
        margin-left: 10%;
        width: 300px;
    }
    #myProgress {
        width: 80%;
    }
}

@media screen and (max-width: 560px) {
    .progress-bar {
        margin-left: 7.5%;
    }
}


